<!--{template 'panel_flash'}-->

<!--{eval $adcode = ad('nav');}-->
<!--{if $adcode!=''}--><div class="adnav">$adcode</div><!--{/if}-->

<div class="w960 mt10 fl">
	<div class="w700 fl">
		<dl class="box">
			<dt>推荐影片</dt>
			<dd class="h395">
				<ul class="sv">
					<!--{loop:video:$video best=1|limit=10|order=lastdate DESC,postdate DESC,v.vid DESC}-->
					<li>
						<div class="pic"><a href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/></a></div>
						<div class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></div>
						<div class="author"><a href="profile.php?action=show&id=$video[authorid]" target="_blank" title="$video[author]">$video[author]</a></div>
					</li>
					<!--{/loop:video}-->
				</ul>
			</dd>		
		</dl>		
	</div>
	<div class="w245 fr">
		<dl class="box">
			<dt>最近更新</dt>
			<dd class="h395 numbg">
				<ul class="vl">
					<!--{eval $i=1;}-->
					<!--{loop:video:$video cid=-1|limit=10|order=lastdate DESC,postdate DESC,v.vid DESC}-->
					<!--{if $i==1}-->
					<li class="l1">
						<a class="imgbg1" href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/><span class="num1"></span></a>
						<p class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></p>
						<p>类别: $video[class_name]</p>
						<p>地区: $video[nation_name]</p>
						<p>热度: $video[hits]</p>
						<p>更新日期: <!--{echo get_date($video[lastdate], 'Y-m-d')}--></p>							
					</li>					
					<!--{else}-->
					<li>
						<span class="fr"><!--{echo get_date($video[lastdate],'m-d')}--></span>
						<span class="sj"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></span>
					</li>					
					<!--{/if}-->
					<!--{eval $i++;}-->
					<!--{/loop:video}-->
				</ul>				
			</dd>			
		</dl>		
	</div>
</div>

<!--{eval $adcode = ad('index',1);}-->
<!--{if $adcode!=''}--><div class="adindex">$adcode</div><!--{/if}-->

<!--{eval $adi=2;}-->
<!--{loop:class:$c1 cid=0}-->

<div class="w960 mt15 fl">
	<div class="w700 fl">
		<dl class="box">
			<dt>
				<span class="fr fz12">
					<!--{loop:class:$c2 cid=$c1['cid']}-->
					&nbsp;&nbsp;<a href="class.php?cid=$c2[cid]">$c2[caption]</a>
					<!--{/loop:class}-->
				</span>
				$c1[caption]
			</dt>
			<dd class="h395">
				<ul class="sv">
					<!--{loop:video:$video cid=$c1['cid']|showsub=1|order=lastdate DESC,postdate DESC,v.vid DESC|limit=10}-->
					<li>
						<div class="pic"><a href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]" /></a></div>
						<div class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></div>
						<div class="author"><a href="profile.php?action=show&id=$video[authorid]" target="_blank" title="$video[author]">$video[author]</a></div>
					</li>
					<!--{/loop:video}-->
				</ul>
			</dd>		
		</dl>		
	</div>
	<div class="w245 fr">
		<dl class="box">
			<dt>
				<div class="rank">
					<a href="javascript:;" onmouseover="tab('{$c1[cid]}',3,1);" id="a{$c1[cid]}_1" class="sel">昨天</a>
					<a href="javascript:;" onmouseover="tab('{$c1[cid]}',3,2);" id="a{$c1[cid]}_2">本周</a>
					<a href="javascript:;" onmouseover="tab('{$c1[cid]}',3,3);" id="a{$c1[cid]}_3">本月</a>
				</div>				
				$c1[caption]排行
			</dt>
			
			<!--{eval $rankarr = array('1'=>'yesterday_hits','2'=>'week_hits','3'=>'month_hits');}-->
			<!--{loop $rankarr $k $t}-->
			<!--{eval $stylestr = $t=='yesterday_hits' ? 'block' : 'none';}-->
			<dd class="h395 numbg" id="c{$c1[cid]}_{$k}" style="display: {$stylestr}">
				<ul class="vl">
					<!--{eval $i=1;}-->
					<!--{loop:video:$video cid=$c1['cid']|showsub=1|order=$t DESC,hits DESC,v.vid DESC|limit=10|cachetime=1d}-->
					<!--{if $i==1}-->
					<li class="l1">
						<a class="imgbg1" href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/><span class="num1"></span></a>
						<p class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></p>
						<p>类别: $video[class_name]</p>
						<p>地区: $video[nation_name]</p>
						<p>热度: $video[$t]</p>
						<p>更新日期: <!--{echo get_date($video[lastdate], 'Y-m-d')}--></p>							
					</li>					
					<!--{else}-->
					<li>
						<span class="fr">$video[$t]</span>
						<span class="sj"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></span>
					</li>					
					<!--{/if}-->
					<!--{eval $i++;}-->
					<!--{/loop:video}-->
				</ul>				
			</dd>
			<!--{/loop}-->
						
		</dl>		
	</div>
</div>

<!--{eval $adcode = ad('index',$adi); $adi++;}-->
<!--{if $adcode!=''}--><div class="adindex">$adcode</div><!--{/if}-->

<!--{/loop:class}-->

<!--{if $db_indexlink=='1'}-->
<div class="w960 mt15 fl">
	<dl class="box">
		<dt>友情链接</dt>
		<dd class="p10">
		<!--{if $db_indexmqlink=='1'}-->
		<marquee scrolldelay="100" scrollamount="4" onmouseout="this.start();" onmouseover="this.stop();" behavior="alternate">$_sharelink</marquee>
		<!--{else}-->
		$_sharelink
		<!--{/if}-->
		</dd>
	</dl>
</div>
<!--{/if}-->