<!--{eval $picarray = unserialize($db_setshowpic);}-->
<!--{if $db_showpic==1 && !empty($picarray)}-->
<script src="js/jquery.KinSlideshow.js" type="text/javascript"></script>
<script type="text/javascript">
var moveStyle
var rand =parseInt(Math.random()*4)
switch(rand){
	case 0:	moveStyle="left" ;break;
	case 1:	moveStyle="right" ;break;
	case 2:	moveStyle="down" ;break;
	case 3:	moveStyle="up" ;break;
}
$(function(){
	$("#show").KinSlideshow({moveStyle:moveStyle,mouseEvent:"mouseover"});	
})
</script>
<div id="show">
	<!--{loop $picarray $picstr}-->
	<!--{eval $showpic = explode('|', $picstr);}-->
    <a href="$showpic[1]" target="_blank"><img src="$imgpath/show/$showpic[0]" alt="$showpic[2]" /></a>
	<!--{/loop}-->
</div>
<!--{/if}-->