<!--{if $action!='show' || $userdb[uid]==$uid}-->
<table class="box w958 mt10">
<tr><th colspan="5"><img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 个人中心</th></tr>
<tr class="tc">
	<td><a href="profile.php?action=show&id=$uid">个人资料</a></td>
	<td><a href="profile.php?action=modify">修改资料</a></td>
	<td><a href="profile.php?action=changepass">密码安全</a></td>
	<td><a href="profile.php?action=myvideo">我的视频</a></td>
	<td><a href="profile.php?action=outextcredits">积分兑换</a></td>
</tr>
</table>
<!--{/if}-->

<!--{if $action=='show'}-->
<table class="box w958 mt10">
	<tr><th colspan="2">
		<img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 个人资料
	</th></tr>
	<tr><td class="w40"><strong>UID</strong></td><td>$userdb[uid]</td></tr>
	<tr><td><strong>用户名</strong></td><td>$userdb[username]</td></tr>
	<tr>
		<td><strong>系统头衔</strong></td>
		<td>
		<!--{if $userdb['groupid']=='-1'}-->正式会员<!--{else}-->$userdb[grouptitle]<!--{/if}-->
		<!--{if $userdb['groupid']=='4' && $uid==$userdb['uid']}-->&nbsp;&nbsp;「<a href="javascript:;" onclick='$.ajax({type:"POST",url:"ajax.php",data:"action=resend_email&yzuid={$userdb[uid]}", success:function(msg){alert(msg);}});'>重发验证邮件</a>」<!--{/if}-->
		</td>
	</tr>
	<tr><td><strong>会员头衔</strong></td><td>$userdb[membertitle]</td></tr>
	<tr><td><strong>自定义头衔</strong></td><td>$userdb[honor]</td></tr>
	<tr><td><strong>最后登录IP</strong></td><td>$userdb[ip]</td></tr>
	<tr><td><strong>综合积分</strong></td><td>$userdb[credit]</td></tr>
	<tr><td><strong>视频数</strong></td><td>$userdb[postnum]</td></tr>
	<tr><td><strong>威望</strong></td><td>$userdb[rvrc]</td></tr>
	<tr><td><strong>金钱</strong></td><td>$userdb[money]</td></tr>

	<!--{loop $creditdb $key $value}-->
	<!--{if $_creditdb[$key]}-->
	<tr><td><strong>$value[0]</strong></td><td>$value[1]</td></tr>
	<!--{/if}-->
	<!--{/loop}-->

	<tr><td><strong>头像</strong></td><td><img src="$userdb[icon]" width="100" height="120" /></td></tr>
	<tr>
		<td><strong>Email</strong></td>
		<td>
			<!--{if $userdb[publicmail] == '1'}-->
			<a href="mailto:$userdb[email]">$userdb[email]</a>
			<!--{else}-->
			邮箱未公开
			<!--{/if}-->
		</td></tr>
	<tr><td><strong>腾讯QQ</strong></td><td>$userdb[oicq]</td></tr>
	<tr><td><strong>Msn</strong></td><td>$userdb[msn]</td></tr>
	<tr><td><strong>性别</strong></td><td><!--{echo !$userdb['gender'] ? '保密' : ($userdb['gender'] == '1' ? '帅哥' : '靓女')}--></td></tr>
	<tr><td><strong>生日</strong></td><td>$userdb[bday]</td></tr>
	<tr><td><strong>个人主页</strong></td><td><a href="$userdb[site]" target="_blank">$userdb[site]</a></td></tr>
	<tr><td><strong>签名</strong></td><td>$userdb[signature]</td></tr>
	<tr><td><strong>注册时间</strong></td><td>$userdb[regdate]</td></tr>
	<tr><td><strong>最后登录</strong></td><td>$userdb[lastlogin]</td></tr>
</table>
<!--{elseif $action=='modify'}-->
<form action="profile.php" method="post" onSubmit="return procheck(this)" name="creator" enctype="multipart/form-data">
<input type="hidden" name="action" value="modify" />
<input type="hidden" value="2" name="step" />
<table class="box w958 mt10">

	<tr><th colspan="2"><img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 修改资料</th></tr>
	<tr>
		<td class="w40"><strong>系统风格</strong></td>
		<td><select name="userstyle">$styles</select></td>
	</tr>

	<tr>
		<td><strong>选择您的头像</strong></td>
		<td>
			<img src="$iconpath" name="useravatars" width="100" height="120"/>
			<select name="proicon" onChange="showimage('$imgpath',this.options[this.selectedIndex].value)">
				<option value="none.gif">none.gif</option>
				$imgselect
			</select>
			<br />
			<!--{if $delicon=='1'}-->
			<a href="profile.php?action=delicon">[删除自定义头像]</a>
			<!--{/if}-->
	
			<!--{if $gp_allowseticon=='1'}-->
			<br />
			头像位置 <input type="text" class="text" name="iconurl" value="$iconurl" /> 必须以 http://开头的路径。 
			<!--{if $db_iconupload=='1' && $gp_allowupicon=='1'}-->
			<br />
			头像上传 <input type=file name="upicon" class="text" />
			<!--{/if}-->
			<!--{/if}-->
		</td>
	</tr>	
	
	<tr>
	<td><strong>性别</strong></td>
	<td>
		<select name="progender">
			<option value="1" $gender_1>帅哥</option>
			<option value="2" $gender_2>靓女</option>
			<option value="0" $gender_0>保密</option>
		</select>
	</td>
	</tr>

	<tr>
		<td><strong>生日</strong></td>
		<td>
			<select name="proyear">
				<option value=""></option>
				<!--{eval for($i=1960;$i<=2008;$i++){}-->
				<option value="$i" $year[$i]>$i</option>
				<!--{eval }}-->
			</select>年 
			<select name="promonth">
				<option value=""></option>
				<!--{eval for($i=1;$i<=12;$i++){}-->
				<option value="$i" $month[$i]>$i</option>
				<!--{eval }}-->
			</select>月 
			<select name="proday">
				<option value=""></option>
				<!--{eval for($i=1;$i<=31;$i++){}-->
				<option value="$i" $day[$i]>$i</option>  
				<!--{eval }}-->
			</select>日
		</td>
	</tr>

	<!--{if $gp_allowhonor=='1'}-->
	<tr>
		<td><strong>自定义头衔</strong></td>
		<td><input type="text" class="text" name="prohonor" value="$user[honor]"/></td>
	</tr>
	<!--{/if}-->

	<tr>
		<td><strong>腾讯QQ</strong></td>
		<td><input type="text" class="text" name="prooicq" value="$user[oicq]"/></td>
	</tr>

	<tr>
		<td><strong>MSN</strong></td>
		<td><input type="text" class="text" name="promsn" value="$user[msn]"/></td>
	</tr>

	<tr>
		<td><strong>个人主页</strong></td>
		<td><input type="text" class="text" name="prosite" value="$user[site]"/></td>
	</tr>

	<tr>
		<td><strong>个性签名</strong><br />{$rg_regmaxsign}字节以内</td>
		<td><textarea name="prosign" cols="50" rows="5">$user[signature]</textarea></td>
	</tr>

	<tr>
		<td><strong>是否公开邮箱</strong></td>
		<td>			
			<input type=radio value="1" name="propublicmail" $publicmail_1> 公开 
			<input type=radio value="0" name="propublicmail" $publicmail_0> 隐藏
		</td>
	
	<tr>
		<td><strong>是否接收系统邮件</strong></td>
		<td>
			<input type=radio value="1" name="proreceivemail" $receivemail_1> 接收邮件 
			<input type=radio value="2" name="proreceivemail" $receivemail_2> 不接收邮件
		</td>
	</tr>
</table>
<br /><center><input type="submit" name="prosubmit" value="提 交" class="button1"/><center>
</form>
<!--{elseif $action=='changepass'}-->
<form action="profile.php" method="post">
<input type="hidden" name="action" value="changepass" />
<input type="hidden" value="2" name="step" />
<table class="box w958 mt10">
	<tr><th colspan="2"><img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 修改资料</th></tr>
	<tr>
		<td class="w40"><strong>原密码</strong></td>
		<td><input type="password" name="oldpwd" value="" class="text" /></td>
	</tr>
	<tr>
		<td><strong>新密码</strong><br />不修改请留空</td>
		<td><input type="password" name="propwd" value="" class="text" /></td>
	</tr>
	<tr>
		<td><strong>确认密码</strong></td>
		<td><input type="password" name="check_pwd" value="" class="text" /></td>
	</tr>
	<tr>
		<td><strong>E-Mail</strong><br />不修改请留空</td>
		<td><input type="text" name="proemail" class="text" /></td>
	</tr>
</table>
<br /><center><input type="submit" name="prosubmit" value="提 交" class="button1"/><center>
</form>
<!--{elseif $action=='myvideo'}-->
<table class="box w958 mt10">
	<tr><th colspan="8">
		<span class="fr fz12 defaultcolor nobold"><a href="profile.php?action=myvideo&type=post">已发布</a> | <a href="profile.php?action=myvideo&type=favorite">已收藏</a> | <a href="profile.php?action=myvideo&type=buy">已购买</a></span>
		<img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 我的视频 &raquo; <!--{if $type=='post'}-->已发布<!--{elseif $type=='favorite'}-->已收藏<!--{elseif $type=='buy'}-->已购买<!--{/if}-->
	</th></tr>

	<!--{if $type=='post'}-->
	<tr class="bold tc">
		<td width="8%">ID</td>
		<td width="*">标题</td>
		<td width="10%">状态</td>
		<td width="15%">更新时间</td>
		<td width="5%">人气</td>
		<td width="5%">评论</td>
		<td width="10%">审核</td>
		<td width="15%">操作</td>
	</tr>
	<!--{loop $videolist $value}-->
	<tr class="tc">
		<td>$value[vid]</td>
		<td><a href="read.php?vid=$value[vid]" target="_blank">$value[subject]</a></td>
		<td>
			<!--{if $value[serialise] > 0}-->
			连载至$value[serialise]
			<!--{else}-->
			完结
			<!--{/if}-->			
		</td>
		<td>$value[lastdate]</td>
		<td>$value[hits]</td>
		<td>$value[reply]</td>
		<td>
			<!--{if $value[yz] == 1}-->
			<span style="color: green;">通过</span>
			<!--{else}-->
			<span style="color: red;">未审核</span>
			<!--{/if}-->
		</td>
		<td>
			<a href="read.php?vid=$value[vid]" target="_blank">浏览</a>
			<!--{if $SYSTEM['allowadminedit']== '1' || $gp_alloweditatc == 1}-->
			<a href="post.php?action=modify&vid=$value[vid]">编辑</a>
			<!--{/if}-->
			<!--{if $SYSTEM['allowadmindel'] == '1' || $gp_allowdelatc == '1'}-->
			<a href="post.php?action=del&vid=$value[vid]">删除</a>
			<!--{/if}-->
		</td>
	</tr>
	<!--{/loop}-->
	<!--{else}-->
	<tr class="bold tc">
		<td width="8%">ID</td>
		<td width="*">标题</td>
		<td width="10%">状态</td>
		<td width="15%">会员</td>
		<td width="15%">更新时间</td>
		<td width="5%">人气</td>
		<td width="5%">评论</td>
		<td width="15%">操作</td>
	</tr>
	<!--{loop $videolist $value}-->
	<tr class="tc">
		<td>$value[vid]</td>
		<td><a href="read.php?vid=$value[vid]" target="_blank">$value[subject]</a></td>
		<td>
			<!--{if $value[serialise] > 0}-->
			连载至$value[serialise]
			<!--{else}-->
			完结
			<!--{/if}-->
		<td><a href="profile.php?action=show&id=$value[authorid]" target="_blank">$value[author]</a></td>
		<td>$value[lastdate]</td>
		<td>$value[hits]</td>
		<td>$value[reply]</td>
		<td>
			<a href="read.php?vid=$value[vid]" target="_blank">浏览</a>
			<a href="profile.php?action=remove&type={$type}&vid=$value[vid]">移除</a>
		</td>
	</tr>
	<!--{/loop}-->	
	
	<!--{/if}-->
</table>
<div class="pages"><!--{page $pages}--></div>
<!--{elseif $action=='outextcredits'}-->
<script type="text/javascript">
var jsarray = "$jsarray";
function changecredit(flag)
{
	if(flag=='totype')
	{
		document.getElementById('srctype').options.length = 0;
		var totype = document.getElementById('totype').value;
		var s = totype.split("|");

		a1 = jsarray.split(";");
		for (x in a1)
		{
			a2 = a1[x].split(",");
			if(a2[0]==s[0] && a2[1]==s[1])
			{
				var opt = document.createElement("option"); 
				opt.appendChild(document.createTextNode(a2[3]));  //源积分名称
				opt.setAttribute("value",a2[2]+'|'+a2[4]); //源积分ID|兑换比例
				document.getElementById('srctype').appendChild(opt);
			}
		}
	}
	else if(flag=='srctype'){}

	var n1 = document.getElementById('tonum').value;
	n1 = n1.replace(/\D/g,'');
	document.getElementById('tonum').value = n1;

	var t1 = document.getElementById('srctype').value;
	var tmp = t1.split("|");
	var ratio = tmp[1];
	var n2 = Math.ceil(n1*ratio);
	document.getElementById('srcnum').value=n2;
}
</script>

<form action="profile.php?" method="post">
<input type="hidden" name="action" value="outextcredits" />
<input type="hidden" value="2" name="step" />
<table class="box w958 mt10">
	<tr><th><img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 积分兑换	</th></tr>
	<tr><td class="tc">
		
		兑换:
		<input type="text" class="text" name="tonum" id="tonum" size="10" onkeyup="changecredit('tonum');" />
		<select name="totype" id="totype" onchange="changecredit('totype')">
			<!--{loop $tocreditdb $value}-->
			<option value="{$value[appiddesc]}|{$value[creditdesc]}">$value[title]</option>
			<!--{/loop}-->			  
		</select>
		&nbsp;&nbsp;
		所需:
		<input type="text" class="text" name="srcnum" id="srcnum" size="10" readonly />
		<select name="srctype" id="srctype" onChange="changecredit('srctype')"></select>
		&nbsp;&nbsp;
		密码:
		<input type="password" class="text" name="password" />
		&nbsp;
		<input type="submit" class="button1" value="兑 换" />
		<script>changecredit('totype');</script>
		
	</td></tr>
<table>
</form>
<!--{/if}-->

<script type="text/javascript">
function procheck(formct)
{
	if (formct.prosign.value.length > $rg_regmaxsign)
	{
		alert('个性签名太长，请在{$rg_regmaxsign}字节以内');
		return false;
	}
}
function showimage(imgpath,value)
{
	if(value!= '')
		document.images.useravatars.src = imgpath+'/face/'+value;
	else
		document.images.useravatars.src = imgpath+'/face/none.gif';
}
</script>
