<!--{if !$action}-->
<form method="post" action="search.php">
<input type="hidden" name="action" value="search" />
<table class="box w958 mt10">
<tr><th colspan="2">
	<img src="$imgpath/$stylepath/dticon1.gif" align="absmiddle"> <a href="$db_bfn">$db_wwwname</a> &raquo; 搜索视频
</th></tr>

<tr>
	<td class="w40">关键词</td>
	<td>
		<select name="field">
			<option value="subject">标题</option>
			<option value="playactor">演员</option>
			<option value="director">导演</option>
			<option value="author">会员</option>
			<option value="tag">标签</option>
			<option value="year">年份</option>
			<option value="memo">备注</option>
		</select>
		<input type="text" name="keyword" value="" class="text" />
	</td>
</tr>

<tr>
	<td>所属类别</td>
	<td>
		<select name="cid">
			<option value="">无限制</option>
			$_class_opt
		</select>
	</td>
</tr>

<tr>
	<td>国家地区</td>
	<td>
		<select name="nid">
			<option value="">无限制</option>
			$_nation_opt
		</select>
	</td>
</tr>

<tr>
	<td>排序类型</td>
	<td>
		<select name="orderway">
			<option value="postdate">发表时间</option>
			<option value="lastdate">更新时间</option>
			<option value="hits">人气</option>
			<option value="reply">评论</option>
		</select>

		<select name="asc">
			<option value="ASC">升序</option>
			<option value="DESC" selected>降序</option>
		</select>
	</td>
</tr>

<tr>
	<td>每页显示行数</td>
	<td>
		<input type="text" size="5" value="$db_perpage" name="lines" class="text"/>
	</td>
</tr>

</table><br />
<center><input type="submit" name="submit" value="提 交" class="button1" /></center><br />
</form>

<!--{elseif $action=='search'}-->

<div class="w960 mt10 fl">
	<div class="w700 fr">
		<dl class="box">
			<dt>视频搜索</dt>
			<dd class="w698">
				<!--{$videodb=loop:video $tagstr|showsub=1|order=$orderway $asc|limit=$lines|page=$page|url=$url}-->
				<ul class="clist">
					<!--{loop $videodb $video}-->
					<li>
					<a href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/></a>
					<h2><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></h2>
					<p>主演: $video[playactor]</p>
					<p>地区: $video[nation_name]</p>
					<p>时间: <!--{echo get_date($video[postdate],'Y-m-d')}--></p>
					<p>会员: <a href="profile.php?action=show&id=$video[authorid]" target="_blank">$video[author]</a></p>
					<p>人气: $video[hits]</p>
					<p>评论: $video[reply]</p>
					</li>
					<!--{/loop}-->
				</ul>								
			</dd>
		</dl>
		<div class="pages"><!--{page $pageinfo}--></div>
	</div>
	
	<div class="w245 fl">
		<dl class="box">
			<dt>相关排行 </dt>
			<dd class="h395 numbg">
				<ul class="vl">
					<!--{eval $i=1;}-->
					<!--{loop:video:$video $tagstr_left|order=hits DESC|limit=10}-->
					<!--{if $i==1}-->
					<li class="l1">
						<a class="imgbg1" href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/><span class="num1"></span></a>
						<p class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></p>
						<p>类别: $video[class_name]</p>
						<p>地区: $video[nation_name]</p>
						<p>热度: $video[hits]</p>
						<p>更新日期: <!--{echo get_date($video[lastdate],'Y-m-d')}--></p>							
					</li>					
					<!--{else}-->
					<li>
						<span class="fr">$video[hits]</span>
						<span class="sj"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></span>
					</li>					
					<!--{/if}-->
					<!--{eval $i++;}-->
					<!--{/loop:video}-->
				</ul>			
			</dd>
		</dl>
		
		<!--{$videodb=loop:video $tagstr_left|best=2|order=lastdate DESC,postdate DESC|limit=3|dateformat=1}-->
		<!--{if !empty($videodb)}-->
		<dl class="box mt10">
			<dt>相关推荐 </dt>
			<dd>
				<ul class="vl">
					<!--{loop $videodb $key $video}-->
					<li class="l1<!--{if $key>0}--> mt10<!--{/if}-->">
						<a class="imgbg1" href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]"/></a>
						<p class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></p>
						<p>类别: $video[class_name]</p>
						<p>地区: $video[nation_name]</p>
						<p>热度: $video[hits]</p>
						<p>更新日期: <!--{echo get_date($video[lastdate],'Y-m-d')}--></p>							
					</li>					
					<!--{/loop}-->
				</ul>				
			</dd>
		</dl>
		<!--{/if}-->
						
	</div>
	
	
</div>


<!--{/if}-->