<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
    default-lazy-init="false" default-autowire="byName">

    <!--<context:annotation-config/>-->
    <!--<context:component-scan base-package="com.huang" />-->

	<bean id="beanContainer" class="com.huang.study.web.utils.BeanContainer" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<bean id="jsprDao" class="com.huang.study.web.model.IreportDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>


