<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.huang.android.ch04">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".show.activity.MyActivity1" android:label="Activity1"/>
        <activity android:name=".show.activity.MyActivity2" android:label="Activity2">
            <intent-filter>
                <action android:name="myaction1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="myaction2"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="mycategory"/>
            </intent-filter>
        </activity>
        <activity android:name=".show.activity.MyActivity3" android:label="Activity3">
            <intent-filter>
                <action android:name="myaction2"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="mycategory"/>
            </intent-filter>
        </activity>
        <activity android:name=".show.activity.Main" android:label="Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".show.activity.MyActivity4" android:label="Activity4"/>
    </application>
</manifest>
