*{margin: 0px auto; padding: 0px;}
body{font-family: Tahoma; font-size: 12px; color: #333; background: #F7F7F7;}
img{border: 0px;}
optgroup{font-style:normal;}

/*a*/
a{text-decoration: none; color: #003366;}
a:hover{text-decoration: underline; color: #f60;}

/*form*/
input,select,textarea{font-family: Tahoma; font-size: 12px; color: #333; padding: 2px;}
select{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0; padding: 0px;}

/*topnav*/
.topnav{color: #FFFFFF; font-weight: bold; background-color: #698CC3; padding: 5px;}
.topnav a{color: #FFFFFF;}

/*table*/
table{margin-bottom: 4px; border-collapse: separate;}
td,th{padding: 5px; font-family: Tahoma; font-size: 12px; color: #333;}
.tableborder{background: #DBEAF5; border: solid 1px #698CC3;}
.tableborder tr.field{background-color: #DBEAF5;}
.tableborder tr{background: #F7F7F7;}
.tableborder th.header {color: #FFFFFF; font-weight: bold; background-color: #698CC3; padding: 5px; text-align: center}
.tableborder td.header {color: #FFFFFF; font-weight: bold; background-color: #698CC3; padding: 5px;}

/*ul*/
ul{list-style-type: none;}
ul.list120{margin-left: 0px; float: none; width:365px;}
.list120 li{clear:none; float:left; width:120px;}
ul.list200{margin-left: 0px; float: none; width:800px;}
.list200 li{clear:none; float: left; width: 200px;}

/*hr*/
hr.line{width: 70%; height: 1px; border: none; border-top: solid 1px #ccc;}

/*pages*/
.pages{text-align: right; width: 98%; margin: 5px 5px 10px 5px;}
