<!--<?php
include_once gettpl('top');
if(empty($action)){
print <<<EOT
-->
<table class="tableborder" align="center" border="0" cellpadding="0" cellspacing="1" width="98%">
<tr><td>
[<a href="$basename&action=artclass">栏目列表</a>]
[<strong>文档列表</strong>]
[<a href="$basename&action=add">添加/编辑文档</a>]

</td></tr></table>
<br />
<form method="post" action="$basename">
<input name=action type=hidden value="del">
<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
<tr><td class=header colspan="8">文档列表</td></tr>
<tr class="field" align="center">
  <td width="5%">ID</td>
  <td width="10%">栏目</td>
  <td width="15%">发布人</td>
  <td>标题</td>
  <td width="20%">发表时间</td>
  <td width="10%">显示顺序</td>
  <td width="5%">操作</td>
  <td width="5%">删除</td>
</tr>
<!--
EOT;
foreach($articledb as $key => $value){
$artclass_caption = $_artclass[$value[classid]];
print <<<EOT
-->
<tr align="center">
  <td>$value[aid]</td>
  <td>$artclass_caption</td>
  <td>$value[author]</td>
  <td><a href="$basename&action=edit&aid=$value[aid]" title='编辑文档'>$value[subject]</a></td>
  <td>$value[timestamp]</td>
  <td>$value[vieworder]</td>
  <td><a href="$basename&action=edit&aid=$value[aid]" title='编辑文档'>编辑</a></td>
  <td><input type='checkbox' name='selid[]' value="$value[aid]"></td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<br><center><input type="button" name="chkall" value="全 选" onClick="CheckAll(this.form)"> <input type="submit" value="提 交"></center>
</form>
<!--
EOT;
}elseif($action=='add' || $action=='edit'){
print <<<EOT
-->
<table class="tableborder" align="center" border="0" cellpadding="0" cellspacing="1" width="98%">
<tr><td>
[<a href="$basename&action=artclass">栏目列表</a>]
[<a href="$basename">文档列表</a>]
[<strong>添加/编辑文档</strong>]
</td></tr></table>
<br />
<form action="$basename" method=post>
<input type=hidden value="$aid" name=aid>
<input type=hidden value=2 name=step>
<input name=action type=hidden value="$action">
<table width=98% border=0 align=center cellpadding=3 cellspacing=1 class=tableborder>
<tr><td class=header colspan="2">添加/编辑文档</td></tr>
<tr><td width=40%>栏目</td>
<td>
	<select name="classid">
<!--
EOT;
foreach($_artclass as $cid => $caption){
print <<<EOT
-->	
	<option value="$cid" ${'classid_'.$cid}>$caption</option>
<!--
EOT;
}
print <<<EOT
-->	
	</select>
</td>
<tr><td>显示顺序(只能为数字,数字越大越靠前)</td>
<td><input type="text" size="4" name="vieworder" value="$vieworder"></td></tr>
<tr><td>文档标题</td>
<td><input type="text" size="45" name="subject" value="$subject"></td></tr>
<tr><td>文档内容:</td>
<td>
<!--
EOT;
$content = create_kindeditor('content',600,200, $content);
print <<<EOT
-->	
$content	
</td></tr>
</table>
<br /><center><input type="submit" name="add" value="提 交"></center>
</form>
<!--
EOT;
}elseif($action=='artclass'){
print <<<EOT
-->
<table class="tableborder" align="center" border="0" cellpadding="0" cellspacing="1" width="98%">
<tr><td>
[<strong>栏目列表</strong>]
[<a href="$basename">文档列表</a>]
[<a href="$basename&action=add">添加/编辑文档</a>]
</td></tr></table>
<br />
<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
	<tr>
		<td class=header>
			添加栏目
		</td>
	</tr>
	<tr>
		<td style="padding: 20px;">
			<form action="$basename" method=POST>
				<input type=hidden name="action" value="artclass_add">
				栏目名称: 
				<input type="text" name="caption" />
				<input type=submit value="提 交">
			</form>
		</td>
	</tr>
</table>
<br />

<form method="post" action="$basename">
<input name=action type=hidden value="artclass_edit">
	<table width=98% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
		<tr>
			<td class=header colspan="4">
				栏目列表
			</td>
		</tr>
		<tr align="center" class="field">
			<td width="5%">
				ID
			</td>
			<td width="10%">
				顺序
			</td>
			<td>
				栏目名称
			</td>
			<td width="5%">
				删除
			</td>
		</tr>
		<!--
EOT;
foreach($artclassdb as $key=> $value){
$key=$value[cid];
print <<<EOT
-->
		<tr align="center">
			<td>
				$key
			</td>
			<td>
				<input type="text" name="vieworder[$key]" value='$value[vieworder]' size=5>
			</td>
			<td>
				<input type="text" name="caption[$key]" size=30 value='$value[caption]'>
			</td>
			<td>
				<a href="$basename&action=artclass_del&cid=$value[cid]">删除</a>
			</td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
	
	<br>
	<center>
		<input type="submit" value="提 交">
	</center>
</form>

<!--
EOT;
}include_once gettpl('adminbottom');
?>
-->