BODY {
	BACKGROUND-IMAGE:  url(../images/bg.gif);
}

.InfoBODY{
	margin: 0px; padding: 0px, 17px, 0px, 20px;
}

.ESSSection {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;
}
.ESSSection .Header {
	BACKGROUND-COLOR: transparent; FONT-FAMILY: verdana, arial, helvetica; HEIGHT: 22px; COLOR: #ffffff; FONT-SIZE: x-small; FONT-WEIGHT: bold;
	WIDTH: 100%; BORDER-COLLAPSE: collapse;
}
.ESSSection .Header TD {
	BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #53738c; BORDER-TOP: #000000 1px solid;
}
.ESSSection .Header .CornerTD {
	BACKGROUND-COLOR: transparent; BORDER-TOP: #000000 0px solid; WIDTH: 1px;
}

.ESSSection .Header .ImageTD {
	WIDTH: 1px;
}
.ESSSection .Content {
	BACKGROUND-COLOR: white; FONT-FAMILY: verdana, arial, helvetica; TABLE-LAYOUT: fixed; COLOR: black; FONT-SIZE: x-small; OVERFLOW: hidden;
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; DISPLAY: block; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;
}
/* "TEXT-ALIGN:RIGHT;" make no empty before the table */
.ESSSection .Content .ContentTD {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: white; BORDER-RIGHT: #000000 1px solid; 
}

.ESSSectionnone .Contentnone .ContentTDnone {
	BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: white; BORDER-RIGHT: #000000 1px solid
}
.ESSSection .Content TABLE {
	FONT-SIZE: x-small; WIDTH: 100%;
}

.ESSSection .Content TABLE TD SPAN {
	CURSOR: hand;
}

.ESSSection .Content .PageTABLE{
	WIDTH: 100%;
}

.ESSSection .Content .PageTABLE .SpaceTD{
	WIDTH: 25%;
}

.ESSSection .Content .PageTABLE SPAN{
	FONT-FAMILY: Arial; FONT-SIZE: x-small;
}


/** 列表页面查询条件css--start */
.ESSSection .Content .ContentTD table
{
	width: 100%;
}

.ESSSection .Content .ContentTD .ColNameTD {
	WIDTH: 30%; TEXT-ALIGN: center;
}

.ESSSection .Content .ContentTD .Col4NameTD {
	WIDTH: 15%; TEXT-ALIGN: center;
}

.ESSSection .Content .ContentTD .Col3NameTD {
	WIDTH: 12.5%; TEXT-ALIGN: center;
}

.ESSSection .Content .ContentTD .OpTD {
	WIDTH: 24%;
}

.ESSSection .Content .ContentTD .OpTD select{
	WIDTH: 100%;
}

.ESSSection .Content .ContentTD .Col3ValueTD {
	WIDTH: 20%;
}

.ESSSection .Content .ContentTD .ColValueTD {
	WIDTH: 46%;
}

.ESSSection .Content .ContentTD .Col2ValueTD {
	WIDTH: 70%;
}

.ESSSection .Content .ContentTD .ColValueTD select{
	WIDTH: 97%;
}
.ESSSection .Content .ContentTD .Col3ValueTD select{
	WIDTH: 100%;
}
.ESSSection .Content .ContentTD .ColValueTD input{
	WIDTH: 97%;
}

.ESSSection .Content .ContentTD .Col2ValueTD input{
	WIDTH: 98%;
}

/** 列表页面查询条件css--end */

.ESSSection .Content .ContentTD DIV {
	BORDER-BOTTOM: 2px groove; BORDER-LEFT: 2px groove; PADDING-BOTTOM: 3px; OVERFLOW-X: scroll; PADDING-LEFT: 3px; WIDTH: 100%; 
	PADDING-RIGHT: 3px; BORDER-TOP: 2px groove; BORDER-RIGHT: 2px groove; PADDING-TOP: 3px;
}
/* ".ESSSection .Content .ContentTD DIV" will effect all div in td,it will mess drag column function,this line is just for drag column function.  */
.ESSSection .Content .ContentTD DIV DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW-X: hidden; PADDING-LEFT: 0px; WIDTH:5px;height:18px; 
	PADDING-RIGHT: 0px; BORDER-TOP: 0px groove; BORDER-RIGHT: 0px groove; PADDING-TOP: 0px;
}

/* "table-layout: fixed;" make "overflow:hidden" work in td ；algin:left; remove the blank before table when drag column*/
.ESSSection .Content .ContentTD DIV TABLE{
	BORDER-LEFT: black 1px solid; 
	BORDER-TOP: black 1px solid;
	WIDTH: 100%;
	FONT-FAMILY: verdana, arial, helvetica;
	algin:left;
}

/* show thin border for table in fieldset */
.ESSSection .Content .ContentTD fieldset DIV TABLE{
	BORDER-LEFT: black 1px solid; 
	BORDER-TOP: black 1px solid;
	WIDTH: 100%;
	BORDER-COLLAPSE: collapse;
	FONT-FAMILY: verdana, arial, helvetica;
	algin:left;
}

.ESSSection .Content .ContentTD DIV TABLE .TRTitle{
	BACKGROUND-COLOR: #315263; HEIGHT: 22px; COLOR: white; FONT-WEIGHT: bold; text-align: middle;
}

.ESSSection .Content .ContentTD DIV TABLE .TRTitle .TDButton{
	WIDTH: 1%; text-align: left;
}

.ESSSection .Content .ContentTD DIV TABLE .TRTitle TD{
	text-align: center;
}

.ESSSection .Content .ContentTD DIV TABLE .TRValue{
	HEIGHT: 22px;
}

.ESSSection .Content .ContentTD DIV TABLE TD{
	height:25px;vertical-align:middle;
}

.ESSSection .Content .ContentTD .TitleTD{
	BORDER-BOTTOM: black 1px solid; 
	BORDER-RIGHT: black 1px solid; 
	BACKGROUND-COLOR: #315263; 
	COLOR: white; 
	FONT-SIZE: x-small; 
	CURSOR: hand;
	white-space: nowrap;
	text-align: center;
}
/** 基本信息新增页面css--start */
.ESSSection .Content .ContentTD .TDRight{
	text-align: right;
	font-size: X-Small;
	height: 31px;
	white-space: nowrap;
}

.ESSSection .Content .ContentTD .TDLeft{
	text-align: left;
	width:83%;
	font-size: X-Small;
	word-break:break-all;
}
.ESSSection .Content .ContentTD .TDRightTwo{
	text-align: right;
	font-size: X-Small;
	height: 31px;
	white-space: nowrap;
}

.ESSSection .Content .ContentTD .TDLeftTwo{
	text-align: left;
	width:50%;
	font-size: X-Small;
}

.ESSSection .Content .ContentTD .TDLeftTwo input{
	WIDTH: 78%; BACKGROUND: #ffffff;
}

.ESSSection .Content .ContentTD .TDLeftTwo select{
	WIDTH: 78%; BACKGROUND: #ffffff;
}

.ESSSection .Content .ContentTD .TDLeftCata{
	text-align: left;
	width:83%;
	font-size: X-Small;
}

.ESSSection .Content .ContentTD .TDLeftCata input{	
	WIDTH: 90%;
}

.ESSSection .Content .ContentTD .TDLeftInpAndSel{
	text-align: left;
	width:83%;
	font-size: X-Small;
}

.ESSSection .Content .ContentTD .TDLeftDate{
	text-align: left;
	width:83%;
	font-size: X-Small;
}

.ESSSection .Content .ContentTD .TDLeft input{
	WIDTH: 90%; BACKGROUND: #ffffff;
}

.ESSSection .Content .ContentTD .TDLeft select{
	WIDTH: 35%;
}

.ESSSection .Content .ContentTD .TDLeft textarea{
	WIDTH: 90%;
}

.ESSSection .Content .ContentTD .TDLeftInpAndSel input{
	WIDTH: 15%;
}

.ESSSection .Content .ContentTD .TDLeftInpAndSel select{
	WIDTH: 19.3%;
}

/** 基本信息新增页面css--end */
.ESSSection .Content .ContentTD .ValueTD{
	background-color: White; 
	BORDER-BOTTOM: black 1px solid; 
	BORDER-RIGHT: black 1px solid; 
	font-size: X-Small;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.ESSSection .ButtonDiv{
	PADDING-TOP: 6px; text-align: center;
}

.ESSSection .ButtonDiv input{
	width:80px;
}
.HandCursor {
	CURSOR: hand;
}

.Text {
	
}

.DataGrid {
	
}
.DataGrid .DGTable {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-SIZE: x-small; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; PADDING-TOP: 0px
}
.DataGrid .DGTable .DGHeader {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #315263; FONT-STYLE: normal; FONT-FAMILY: ????; COLOR: white; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #000000 1px solid
}
.DataGrid .DGTable .DGItem {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.DataGrid .DGTable .DGAlternatingItem {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #fdf7e7; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.DataGrid .DGTable .DGEditItem {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: whitesmoke; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.ListMover {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: whitesmoke; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.FieldSet {
	BORDER-BOTTOM: #516b7a 1px solid; BORDER-LEFT: #516b7a 1px solid; BORDER-TOP: #516b7a 1px solid; BORDER-RIGHT: #516b7a 1px solid
}
.FieldSet .Legend {
	COLOR: #315263; FONT-WEIGHT: bold
}
.SubSection {
	BORDER-BOTTOM: #6799cc 1px solid; BORDER-LEFT: #6799cc 1px solid; BORDER-TOP: #6799cc 1px solid; BORDER-RIGHT: #6799cc 1px solid
}
A {
	COLOR: #00007f; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #53738c; TEXT-DECORATION: underline
}

#checkPerDiv{
	overflow: auto;
	width: 100%;
}

#checkPerDiv td{
		white-space: nowrap;
}

#btnAction_btnDel{
	margin-right:6px;	
}

#btnAction_btnSave{
	margin-right:6px;
}

#btnAction_btnCopy{
	margin-right:6px;
}

#btnAction_btnCancel{
	margin-right:6px;
}

.AddTDRight{
	font-size: X-Small; text-align: right; width: 20%; white-space: nowrap;
}

.AddTDRightLines{
	font-size: X-Small; text-align: right; width: 20%;
}

.AddTDLeft{
	font-size: X-Small; text-align: left;
}

.AddTDLeft select{
	width: 187px;
}
.ButtonDIV{
	WIDTH: 80px; PADDING-TOP: 6px; text-align: center;
}
.ButtonDIV INPUT{
	WIDTH: 80px;
}

.listBody{
	background:url(../images/bg.gif);
}

.listBody .listTable{
	BORDER-RIGHT-WIDTH: 0px; 
	WIDTH: 100%; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 0px; 
	border:0px;
}

.listBody .listTable .listTdTitle{
	FONT-SIZE: 20pt; 
	FONT-WEIGHT: bold;
	text-align:center;
}

.listBody .listTable .listTdButton{
	width:25px;
}

.listBody .listTable .listButtonDiv{
	PADDING-TOP: 6px; text-align: center;
}

.listBody .listTable .listButtonDiv INPUT{
	WIDTH: 80px;
}

.viewBody{
	margin: 0px;padding: 10px,0px,0px,0px;
}

.viewBody IFRAME{
	width: 100%;
}

.viewBody .addIFRAME{
	width: 100%; height: 100%;
}

.spaceDiv{ 
	height: 20px;
}

.indexBody{
    margin: 0px;
    width: 100%;
    overflow-y: hidden;
}
	
.indexBody .indexTdView{
	BORDER-BOTTOM: black 1px; 
	BORDER-LEFT: black 1px solid;
	background:url(../images/bg.gif);
	FONT-FAMILY: Arial; FONT-SIZE: x-small;
	BORDER-TOP: black 1px solid;
   	CURSOR: hand; 
   	BORDER-RIGHT:black 1px solid;
   	height:31px;
   	width:60px;
   	text-align:center;
}

.indexBody .indexTdEdit{
	BORDER-BOTTOM: black 1px solid;
	FONT-FAMILY: Arial;
	FONT-SIZE: x-small;
	BORDER-TOP: black 1px solid;
	CURSOR: hand;
	BORDER-RIGHT: black 1px solid;
	background:whitesmoke;
	width:60px;
	text-align:center;
}

.indexBody .indexTdLine{
	BORDER-BOTTOM: black 1px solid;
	align:right;
}

.indexBody .indexTdLine .divLine{
	DISPLAY: inline;
	HEIGHT: 22px;
	FONT-SIZE: 10pt
}

.indexBody .indexIframe{
	BORDER-BOTTOM: black 1px solid;
	POSITION: absolute; 
	BORDER-LEFT: black 1px solid; 
	TOP: 31px; 
	BORDER-RIGHT: black 1px solid; 
	LEFT: 0px;
	height:100%;
	width:100%;
	
}

.indexBody .indexIframeTable{
	height:93%;
	width:100%;
	
}

.ESSSection .Content .ContentTD DIV TABLE .TDImage{
	WIDTH: 1%;
}

.declaretViewBody{
	background:url(../images/bg.gif);
	margin: 0px; padding: 10px, 0px, 0px, 0px;
}

.ESSSection .Button{
	WIDTH: 80px; text-align: center;
}

.InfoTitle{
	FONT-SIZE: 18pt; 
	FONT-WEIGHT: bold;
	text-align:center;
	padding-right:100px;
}

.ListTitleTD{
	FONT-SIZE: 18pt; 
	FONT-WEIGHT: bold;
	text-align: center;
	padding-right: 180px;
}

.ListTitleTDM{
	FONT-SIZE: 18pt; 
	FONT-WEIGHT: bold;
	text-align: center;
	padding-right: 100px;
}

.ListTitleTDEdit{
	FONT-SIZE: 18pt; 
	FONT-WEIGHT: bold;
	text-align: right;
	padding-right: 20px;
	width:35%
}

.Table{
	BORDER-BOTTOM: 0px; 
	BORDER-LEFT: 0px; 
	WIDTH: 100%; 
	FONT-SIZE: x-small; 
	BORDER-TOP: 0px; 
	BORDER-RIGHT: 0px; 
	cellSpacing: 0; 
	cellPadding: 0;  
	border: 0;
}

.inputQYMC{
	WIDTH:220px;
}

.CatalogText{
	cursor:pointer;
	border:#999 1px solid;
	height:20px;
	background:#fff url(../images/icon_choose.gif) no-repeat right;
}

.updateInfo{
	text-align: right;	
	width: 45%;
}

.updateInfo span{
	FONT-SIZE: 12pt; 
	FONT-WEIGHT: bold;
	color: #0A2CD9;
}

.listButtonTD{
	white-space: nowrap;
}

.listValueTD{
	white-space: nowrap;
	height: 30px;
}
.TDCloumn{
	height: 30px;
}

.fieldSetLocation{
	width: 100%; margin-left: 35px; margin-right: 10px;	
}

/**页面验证提示样式**/
label.error{
	font-size:1.0em;
	color:red;	
	display:block;
	clear:both
}
/*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时，  
当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/  

.area_width{  
 width:100%;/*自动适应父布局宽度*/  
 overflow:auto;  
 word-break:break-all;  
}
/**解决ie下输入框用百分比控制，输入内容过长时，输入框撑大父元素的问题*/
.listBody .listTable .ESSSection .Content table{
	table-layout: fixed;
}